<p ng-class="{'alert alert-danger': warning}">{{message}}</p>

<!-- conditional, if summary -->
<div ng-if="data.view == 'usage.summary'">
	<div class="table-responsive">
		<p>View: Circuits | <a href="#/days/usage/all?house={{house}}&date={{data.circuit.startdate | date:'yyyy-MM'}}">Time series</a></p>

		<table id="usage" class="table table-condensed text-right">
			<tr>
				<th class="text-left">{{ data.circuit.startdate | date:"MMM" }} <a ng-href="#/months/usage/{{ data.circuit.circuit_id }}?house={{house}}&date={{data.circuit.startdate | date:'yyyy-MM'}}" >{{ data.circuit.startdate | date:"yyyy" }}</a></th>
				<th class="text-right">Total<span ng-if="year == 2012">&sup1;</span></th>
				<th class="text-right">% of total</th>
			</tr>
			<tr ng-repeat="circuit in data.circuits">
				<td class="text-left"><a ng-href="#/days/usage/{{ circuit.circuit_id }}?house={{house}}&date={{ date | date:'yyyy-MM-dd' }}" >{{ circuit.name }}</a></td>
				<td>{{ circuit.actual | number:1 }}</td>
				<td>{{ circuit.perc | number:0 }}</td>
			</tr>
		</table>
	</div>
</div>

<!-- conditional, if circuit -->
<div ng-if="data.view != 'usage.summary'">
	<p>View: <a href="#/days/usage/summary?house={{house}}&date={{ date | date:'yyyy-MM-dd' }}">Circuits</a> | Time series</p>

	<table id="{{ data.view }}" class="table table-condensed text-right">
		<tr>
			<th>{{ data.items[0].date | date:"MMM" }} <a ng-href="#/months/usage/{{ data.circuit.circuit_id }}?house={{house}}&date={{data.items[0].date | date:'yyyy-MM'}}" >{{ data.items[0].date | date:"yyyy" }}</a></th>
			<th class="text-right">Actual</th>
		</tr>
		<tr>
			<th>Totals<span ng-if="year == 2012">&sup1;</span></th>
			<th class="text-right">{{ data.totals.actual | number:3 }}</th>
		</tr>
		<tr ng-repeat="day in data.items">
			<td class="text-left"><a ng-href="#/hours/usage/{{ data.circuit.circuit_id }}?house={{house}}&date={{ day.date | date:'yyyy-MM-dd' }}" >{{ day.date | date:"d" }}</a></td>
			<td>{{ day.actual | number:3 }}</td>
		</tr>
	</table>
</div>

<p class="small">All power values in <abbr title="Kilowatt hours">kWh</abbr></p>
<!-- need conditional statement for this -->
<ul class="list-unstyled small" >
	<li ng-if="year == 2012">1. Circuit level data starts March 16, 2012</li>
	<li ng-if="data.circuit.circuit_id == 'ashp'">2. Projected kWh = {{ data.slope }} x <abbr title="Heating degree days">HDD</abbr> base {{ data.base }}&deg;F + {{ data.intercept }}</li>
</ul>
