<p class="mb-1" ng-class="{'alert alert-danger': warning}">{{message}}</p>

<div class="table-responsive">
	<table id="water" class="table table-sm text-right">
		<caption>
			<ol>
				<li class="small" ng-if="year == 2012">Circuit level data starts March 16, 2012</li>
			</ol>
		</caption>
		<thead>
			<tr>
				<th></th>
				<th colspan="3" class="text-center">Gallons</th>
				<th colspan="2" class="text-center">Watt hrs<span ng-if="year == 2012">&sup1;</span>/gal</th>
			</tr>
			<tr>
				<th class="text-left">ALL</th>
				<th>Cold</th>
				<th>Hot</th>
				<th>Total</th>
				<th>Hot<br/>water</th>
				<th>Water<br/>pump</th>
			</tr>
			<tr>
				<th class="text-left">Daily Avg.</th>
				<th>{{data.totals.cold_avg | number:1}}</th>
				<th>{{data.totals.hot_avg | number:1}}</th>
				<th>{{data.totals.main_avg | number:1}}</th>
				<th>NA</th>
				<th>NA</th>
			</tr>
			<tr>
				<th class="text-left">Totals</th>
				<th>{{data.totals.cold | number:0}}</th>
				<th>{{data.totals.hot | number:0}}</th>
				<th>{{data.totals.main | number:0}}</th>
				<th>{{data.totals.water_heater_efficiency | number:1}}</th>
				<th>{{data.totals.water_pump_efficiency | number:3}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="year in data.items">
				<td class="text-left"><a ng-href="#/months/water?house={{house}}&date={{year.date | date:'yyyy-MM'}}" >{{year.date | date:"yyyy"}}</a></td>
				<td>{{year.cold | number:0}}</td>
				<td>{{year.hot | number:0}}</td>
				<td>{{year.main | number:0}}</td>
				<td>{{year.water_heater_efficiency | number:1}}</td>
				<td>{{year.water_pump_efficiency | number:3}}</td>
			</tr>
		</tbody>
	</table>
</div>